@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@500&family=Open+Sans&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  background-color: var(--vert);
}

.navbar .navbar-brand {
  font-size: 30px;
  color: var(--white);
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
}
a{
  color: var(--white);
  font-weight: 400;
}
.active-link, a:hover{
  color: var(--orange);
  text-decoration: underline;
}
.o-koori{
  font-style: normal;
  color: var(--orange);
}
.navbar-brand:hover{
  text-decoration: none;
}
.navbar-brand:hover span{
  color: var(--orange);
}
.navbar-brand:hover span i {
  color: var(--white);
}
.fa-bars{
  color: var(--white);
}
