/* You can add global styles to this file, and also import other style files */

:root {
    --fond: #E5E5E5;
    --vert: #338F8E;
    --white: #fff;
    --orange: #FF7713;
    --border-size: 1px solid;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

